In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [4]:
Maternal_data = pd.read_csv('Maternal Health Risk Data Set.csv')

In [5]:
Maternal_data.head()

   Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate  RiskLevel
0   25         130           80  15.0      98.0         86          2
1   35         140           90  13.0      98.0         70          2
2   29          90           70   8.0     100.0         80          2
3   30         140           85   7.0      98.0         70          2
4   35         120           60   6.1      98.0         76          0

In [6]:
Maternal_data.isnull()

        Age  SystolicBP  DiastolicBP     BS  BodyTemp  HeartRate  RiskLevel
0     False       False        False  False     False      False      False
1     False       False        False  False     False      False      False
2     False       False        False  False     False      False      False
3     False       False        False  False     False      False      False
4     False       False        False  False     False      False      False
...     ...         ...          ...    ...       ...        ...        ...
1009  False       False        False  False     False      False      False
1010  False       False        False  False     False      False      False
1011  False       False        False  False     False      False      False
1012  False       False        False  False     False      False      False
1013  False       False        False  False     False      False      False

[1014 rows x 7 columns]

In [7]:
Maternal_data.shape

(1014, 7)

In [8]:
Maternal_data['RiskLevel'].value_counts()

0    406
1    336
2    272
Name: RiskLevel, dtype: int64

In [9]:
X = Maternal_data.drop (columns='RiskLevel',axis=1)
Y = Maternal_data['RiskLevel']

In [10]:
print(X)

      Age  SystolicBP  DiastolicBP    BS  BodyTemp  HeartRate
0      25         130           80  15.0      98.0         86
1      35         140           90  13.0      98.0         70
2      29          90           70   8.0     100.0         80
3      30         140           85   7.0      98.0         70
4      35         120           60   6.1      98.0         76
...   ...         ...          ...   ...       ...        ...
1009   22         120           60  15.0      98.0         80
1010   55         120           90  18.0      98.0         60
1011   35          85           60  19.0      98.0         86
1012   43         120           90  18.0      98.0         70
1013   32         120           65   6.0     101.0         76

[1014 rows x 6 columns]

In [11]:
print(Y)

0       2
1       2
2       2
3       2
4       0
       ..
1009    2
1010    2
1011    2
1012    2
1013    1
Name: RiskLevel, Length: 1014, dtype: int64

In [12]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [13]:
print(X.shape, X_train.shape, X_test.shape)

(1014, 6) (811, 6) (203, 6)

In [14]:
classifier = svm.SVC(kernel='linear')

In [15]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [16]:
X_train_prediction = classifier.predict(X_train)
training_data_accurasy = accuracy_score(X_train_prediction, Y_train)

In [17]:
print('akurasi data training :', training_data_accurasy)

akurasi data training : 0.6646115906288532

In [18]:
X_test_prediction = classifier.predict(X_test)
test_data_accurasy = accuracy_score(X_test_prediction, Y_test)

In [19]:
print('akurasi data testing :', test_data_accurasy)

akurasi data testing : 0.5960591133004927

In [20]:
input_data = (21, 120, 80, 7.5, 98, 7.6)

input_data_as_numpy_array = np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0]==0):
    print('Tingkat Resiko Rendah')
elif (prediction[0]==1):
    print('Tingkat Resiko Sedang')
else:
    print('Tingkat Resiko Tinggi')

[0]
Tingkat Resiko Rendah

c:\Users\hp\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [21]:
import pickle

In [23]:
import pickle
filename = 'Martial_Healt.sav'
pickle.dump(classifier, open(filename,'wb'))